body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(241, 233, 233);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.omrs-nav{
    background-color: transparent !important;
    padding-top: 0px;
}

/* .logo{
    height: 50px;
    width: auto;
    border: none;
    margin-left: 5px;
    padding: 2px;
} */

.logo-p{
    color: black !important;
    font-weight: 600;
}